<div class="ranking-container">
  <mat-card class="card-container" *ngFor="let movie of movieScore$">
    <h5 class="score">{{ movie.rt_score / 100 | percent }}</h5>
    <img
      class="img-movie"
      mat-card-image
      src="{{ movie.image }}"
      alt="Photo of {{ movie.title }}"
    />
    <mat-card-content>
      <h4>
        {{ movie.title }}
      </h4>
      <div class="details">
        <h6>Director: {{ movie.director }}</h6>
        <h6>Original Title: {{ movie.original_title }}</h6>
      </div>
    </mat-card-content>
  </mat-card>
</div>
