.movies-container {
  @media screen {
    @media (min-width: 320px) {
      display: grid;
      justify-content: center;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 160px);
      text-align: center;
    }

    @media (min-width: 768px) {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(4, 300px);
    }
  }

  .card-container {
    margin: 10px 10px;
  }
  .favorite {
    color: #fff;
    position: absolute;
    z-index: 4;
    top: -8px;
    right: -10px;
  }

  .favorite:focus {
    background-color: red;
  }

  .details {
    h6 {
      color: #717171;
    }
    p {
      font-size: 15px;
    }
  }

  h4 {
    cursor: pointer;
  }

  .green {
    background-color: none;
  }

  .red {
    background-color: red;
  }
}
